<form method="POST" action="/new" class="card bg-dark text-light rounded-0 ">
    <div class="card-body p-4"> 
        <div class="mb-3">
	    <label class="form-label">Full Name:</label>
            <input type="text" name="fullname" placeholder="Write your full name" class="form-control rounded-0 bg-dark border-0 text-white" />
    	</div>
    	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Email address:</label>
	    <input type="email" name="email" placeholder="Write your email" class="form-control rounded-0 bg-dark border-0 text-white" />
    	</div>
        <div class="mb-3">
	    <label class="form-label">Phone:</label>
            <input type="text" name="phone" placeholder="Write your phone" class="form-control rounded-0 bg-dark border-0 text-white" />
        </div>
  
        <button type="submit" name="save" class="btn btn-primary rounded-0" value="Save">Save</button>
    </div>
</form>

